@using WebApp.Models.ApothecaryModels;
@model ApothecaryViewModel

@{
    ViewData["Title"] = "Edycja";
}

<h2>Edycja aptekarza</h2>

<h4>Dane aptekarza</h4>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlySalary" class="control-label"></label>
                <input asp-for="MonthlySalary" class="form-control" />
                <span asp-validation-for="MonthlySalary" class="text-danger"></span>
            </div>
            @Html.HiddenFor(x => x.RowVersion)
            @Html.HiddenFor(x => x.IsEmployed)
            @Html.HiddenFor(x => x.HireDate)
            @Html.HiddenFor(x => x.FireDate)
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span>
                    <span>Zapisz</span>
                </button>
            </div>
        </form>
    </div>
</div>

<button onclick="location.href='@Url.Action("Details","Apothecary", new { id = Model.Id })'"
        class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span>Powrót</span>
</button>