@using WebApp.Models.OrderModels;
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Zamówienia";
}

<h2>Zamówienia</h2>

<p>
    <a asp-action="Create">Utwórz nowe zamówienie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApothecaryFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendOrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApothecaryFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCreationDate)
                </td>
                <td>
                    @{
                        if (item.SendOrderDate.HasValue)
                        {
                            Html.DisplayFor(modelItem => item.SendOrderDate);
                        }
                        else
                        {
                            Html.Display("Niezrealizowane");
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Detale zamówienia", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
