@using Common.Models
@model IEnumerable<ErrorLogModel>

@{
    ViewData["Title"] = "Błędy";
}

<h2>Dziennik błędów</h2>

<div class="btn-group">
    <button onclick="location.href='@Url.Action("ClearAllError", "Logger")'" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        <span>Usuń wszystkie logi</span>
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    <div class="btn-group">
                        <button onclick="location.href='@Url.Action("ErrorDetails","Logger", new { objectId = item.ObjectId })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            <span>Detale</span>
                        </button>
                        <button onclick="location.href='@Url.Action("DeleteError","Logger", new { objectId = item.ObjectId })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
