@using WebApp.Models.DoctorModels
@model IEnumerable<DoctorViewModel>

@{
    ViewData["Title"] = "Spis lekarzy";
}

<h2>Spis lekarzy</h2>

<div class="btn-group">
    <button onclick="location.href='@Url.Action("Create","Doctor")'" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Dodaj lekarza</span>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasValidMedicalLicense)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if(item.HasValidMedicalLicense)
                    {
                        <span class="text">Licencja ważna</span>
                    }
                    else
                    {
                        <span class="text text-danger">Licencja nieważna</span>
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <button onclick="location.href='@Url.Action("Details","Doctor", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            <span>Detale</span>
                        </button>
                        <button onclick="location.href='@Url.Action("RemoveLicesnse","Doctor", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span>Odbierz licencje</span>
                        </button>
                        <button onclick="location.href='@Url.Action("Delete","Doctor", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
