@using WebApp.Models.PrescriptionModels
@model IEnumerable<PrescriptionViewModel>

@{
    ViewData["Title"] = "Recepty";
}

<h2>Recepty</h2>

<div class="btn-group">
    <button onclick="location.href='@Url.Action("CreatePrescription","Prescription")'" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Dodaj nową receptę</span>
    </button>
</div>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApothecaryFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApothecaryFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <div class="btn-group">
                        <button onclick="location.href='@Url.Action("PrescriptionDetails","Prescription", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            <span>Detale</span>
                        </button>
                        <button onclick="location.href='@Url.Action("DeletePrescription","Prescription", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
