@using WebApp.Models.MedicineModels;
@model IEnumerable<MedicineViewModel>

@{
    ViewData["Title"] = "Spis leków";
}

<h2>Spis leków</h2>

<div>
    <button onclick="location.href='@Url.Action("Create","Medicine")'" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Dodaj nowy lek</span>
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceWithRefund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineContent)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.Expired)
            </th>
                -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceWithRefund)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineContent)
                </td>
                <!--
                    <td>
                        @if (item.Expired)
                        {
                            <span class="glyphicon glyphicon-ok"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove"></span>
                        }
                    </td>
                -->
                <td>
                    <div class="btn-group">
                        <button onclick="location.href='@Url.Action("Details","Medicine", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            <span>Detale</span>
                        </button>
                        <button onclick="location.href='@Url.Action("Delete","Medicine", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span></span>
                        </button>
                        <!--
                        <button onclick="location.href='@Url.Action("MakeExpired","Medicine", new { id = item.Id })'"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            <span>Wycofaj z obiegu</span>
                        </button>
                        -->
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
